beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.3
idna==3.2
lxml==4.7.1
Pillow==9.0.0
praw==7.6.0
prawcore==2.2.0
pyaml==20.4.0
PyYAML==5.4.1
requests==2.26.0
soupsieve==2.2.1
tabulate==0.8.9
update-checker==0.18.0
urllib3==1.26.6
websocket-client==1.1.0
numpy==1.23.2
pandas==1.4.3
python-dateutil==2.8.2
pytz==2022.2.1
six==1.16.0
